* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none !important;
}

h1, h2, h3, h5, h6 {
  color: #f112bd;
}

/* Input */
.fa-solid.fa-magnifying-glass {
  margin-left: 15px;
}

div.input__search {
  border: 1px solid #ced4da;
}

div.input__search:focus-within {
  border: 1px solid rgba(252, 13, 160, 0.2705882353) !important;
}

input.form-control {
  border: none;
  transition: none !important;
  outline: none !important;
  box-shadow: none !important;
}

textarea#exampleFormControlTextarea1.form-control {
  transition: none !important;
  outline: none !important;
  box-shadow: none !important;
}

textarea#exampleFormControlTextarea1.form-control:focus-within {
  border: 1px solid rgba(252, 13, 160, 0.2705882353) !important;
}

/*Fin Input */
/* Header */
header nav.navbar.navbar-expand-md.bg-light.px-2 {
  background-color: rgba(245, 15, 158, 0.2901960784) !important;
}
header nav.navbar.navbar-expand-md.bg-light.px-2 div.container-fluid.responsive {
  display: none !important;
}
header nav.navbar.navbar-expand-md.bg-light.px-2 div.container-fluid .fa-solid.fa-bars {
  color: white;
}
header nav.navbar.navbar-expand-md.bg-light.px-2 div.container-fluid button.navbar-toggler {
  border: none !important;
  box-shadow: 5px 10px 20px 2px rgba(230, 36, 36, 0.273) !important;
}
header nav.navbar.navbar-expand-md.bg-light.px-2 div.container-fluid button.navbar-toggler:focus {
  border: none !important;
  background-color: #fc0da0;
}
header nav.navbar.navbar-expand-md.bg-light.px-2 div.container-fluid .header__logo {
  max-width: 80px;
  width: 100%;
  max-height: 80px;
  height: 100%;
  padding-bottom: 2px;
}
header nav.navbar.navbar-expand-md.bg-light.px-2 div.container-fluid div.offcanvas.offcanvas-start h5#offcanvasNavbarLabel.offcanvas-title {
  color: white;
}
header nav.navbar.navbar-expand-md.bg-light.px-2 div.container-fluid div.offcanvas.offcanvas-start div.offcanvas-body ul li a {
  color: #fc0da0;
  font-weight: 600;
  font-size: 1.5rem;
}
header nav.navbar.navbar-expand-md.bg-light.px-2 div.container-fluid div.offcanvas.offcanvas-start div.offcanvas-body .nav__iconResponsive {
  display: none;
}
header nav.navbar.navbar-expand-md.bg-light.px-2 div.container-fluid div.offcanvas.offcanvas-start div.offcanvas-body li.nav-item.nav__info {
  display: none;
}
header nav.navbar.navbar-expand-md.bg-light.px-2 div.container-fluid div.offcanvas.offcanvas-start div.offcanvas-body ul.dropdown-menu.show {
  background-color: rgba(244, 35, 164, 0.431372549);
}
header nav.navbar.navbar-expand-md.bg-light.px-2 div.container-fluid div.offcanvas.offcanvas-start div.offcanvas-body ul.dropdown-menu.show li a {
  color: white !important;
  font-size: 1rem !important;
}
header nav.navbar.navbar-expand-md.bg-light.px-2 div.container-fluid div.offcanvas.offcanvas-start div.offcanvas-body ul.dropdown-menu.show li a:hover {
  background-color: rgba(253, 2, 158, 0.431372549);
}
header nav.navbar.navbar-expand-md.bg-light.px-2 div.container-fluid div.offcanvas.offcanvas-start div.offcanvas-body .footer_responsive {
  display: none;
}
header nav.navbar.navbar-expand-md.bg-light.px-2 div.container-fluid div.offcanvas.offcanvas-start div.offcanvas-body .footer__redesSocialesInstagram {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: linear-gradient(#405DE6, #5B51D8, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #F77737, #FCAF45, #FFDC80);
  margin: 0px 10px 0px 10px;
}
header nav.navbar.navbar-expand-md.bg-light.px-2 div.container-fluid div.offcanvas.offcanvas-start div.offcanvas-body .footer__redesSocialesEmail {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: rgb(135, 131, 131);
  margin: 0px 10px 0px 10px;
}
header nav.navbar.navbar-expand-md.bg-light.px-2 div.container-fluid div.offcanvas.offcanvas-start div.offcanvas-body .footer__redesSocialesWhatsapp {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #25D366;
  margin: 0px 10px 0px 10px;
}
header nav.navbar.navbar-expand-md.bg-light.px-2 div.container-fluid div.offcanvas.offcanvas-start div.offcanvas-body .fa-brands.fa-instagram {
  font-size: 30px;
  color: white;
}
header nav.navbar.navbar-expand-md.bg-light.px-2 div.container-fluid div.offcanvas.offcanvas-start div.offcanvas-body .fa-sharp.fa-solid.fa-envelope {
  font-size: 30px;
  color: white;
}
header nav.navbar.navbar-expand-md.bg-light.px-2 div.container-fluid div.offcanvas.offcanvas-start div.offcanvas-body .fa-brands.fa-whatsapp {
  font-size: 30px !important;
  color: white !important;
}

/*Fin Header */
i.fa-solid.fa-cart-arrow-down {
  margin-right: 40px;
  font-size: 25px;
  color: #fc0da0;
}

/* MediasQuery */
/*Cuando entra en modo Celular*/
@media screen and (max-width: 767px) {
  /* Nav */
  header nav.navbar.navbar-expand-md.bg-light.px-2 div.container-fluid.navbar__desktop {
    display: none !important;
  }
  header nav.navbar.navbar-expand-md.bg-light.px-2 div.container-fluid.responsive {
    display: flex !important;
  }
  header nav.navbar.navbar-expand-md.bg-light.px-2 div.container-fluid.responsive .icono__carrito__atras {
    color: rgba(252, 13, 160, 0.2705882353);
    cursor: pointer;
    font-size: 2rem;
  }
  header nav.navbar.navbar-expand-md.bg-light.px-2 div.container-fluid div.offcanvas.offcanvas-start {
    background-color: #f5a7c1 !important;
  }
  header nav.navbar.navbar-expand-md.bg-light.px-2 div.container-fluid div.offcanvas.offcanvas-start div.offcanvas-body ul.navbar-nav.flex-grow-1.pe-3.gap-md-5 {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 350px);
  }
  header nav.navbar.navbar-expand-md.bg-light.px-2 div.container-fluid div.offcanvas.offcanvas-start div.offcanvas-body ul li a {
    display: flex;
    align-items: center;
  }
  header nav.navbar.navbar-expand-md.bg-light.px-2 div.container-fluid div.offcanvas.offcanvas-start div.offcanvas-body li.nav-item.nav__info {
    display: block;
  }
  header nav.navbar.navbar-expand-md.bg-light.px-2 div.container-fluid div.offcanvas.offcanvas-start div.offcanvas-body li.nav-item.nav__contacto {
    display: none;
  }
  header nav.navbar.navbar-expand-md.bg-light.px-2 div.container-fluid div.offcanvas.offcanvas-start div.offcanvas-body .nav__iconResponsive {
    display: block;
  }
  header nav.navbar.navbar-expand-md.bg-light.px-2 div.container-fluid div.offcanvas.offcanvas-start div.offcanvas-body .footer_responsive {
    display: block !important;
  }
  header nav.navbar.navbar-expand-md.bg-light.px-2 .icono__carrito {
    display: none;
  }
  /*Fin Nav */
  main {
    min-height: calc(100vh - 100px);
  }
}
/*Fin MediasQuery */
/* Footer */
footer div.footer__desktop {
  height: 100%;
  background-color: rgba(245, 15, 158, 0.2901960784) !important;
}
footer div.footer__desktop .footer__desktop__redesSociales__Instagram {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: linear-gradient(#405DE6, #5B51D8, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #F77737, #FCAF45, #FFDC80);
  margin: 0px 10px 0px 10px;
}
footer div.footer__desktop .footer__desktop__redesSociales__Email {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: rgb(135, 131, 131);
  margin: 0px 10px 0px 10px;
}
footer div.footer__desktop .footer__desktop__redesSociales__Whatsapp {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #25D366 !important;
  margin: 0px 10px 0px 10px;
}
footer div.footer__desktop .footer__desktop__img {
  color: white;
  font-size: 30px;
}
footer div.footer__desktop .fa-brands.fa-whatsapp {
  font-size: 30px !important;
  color: white !important;
}
footer div.footer__desktop section.footer__desktop__horarios.d-flex.flex-column.align-items-center.p-3 h5 {
  line-height: 0.5rem;
  padding: 0px;
  margin: 0px;
}
footer div.footer__responsive {
  display: none !important;
}

/*Fin Footer */
/* MediasQuery */
@media screen and (max-width: 1076px) {
  footer div.footer__desktop.d-flex.align-items-center.justify-content-evenly h5 {
    font-size: 1rem !important;
  }
  footer div.footer__desktop.d-flex.align-items-center.justify-content-evenly h6 {
    font-size: 0.8rem !important;
  }
}
@media screen and (max-width: 930px) {
  footer div.footer__desktop.d-flex.align-items-center.justify-content-evenly h5 {
    font-size: 0.8rem !important;
  }
  footer div.footer__desktop.d-flex.align-items-center.justify-content-evenly h6 {
    font-size: 0.6rem !important;
  }
}
@media screen and (max-width: 799px) {
  footer div.footer__desktop.d-flex.align-items-center.justify-content-evenly h6 {
    font-size: 0.49rem !important;
  }
}
/*Cuando entra en modo Celular*/
@media screen and (max-width: 767px) {
  footer div.footer__desktop.d-flex.align-items-center.justify-content-evenly {
    display: none !important;
  }
  footer div.footer__responsive {
    background-color: rgba(245, 15, 158, 0.2901960784) !important;
    display: flex !important;
  }
  footer div.footer__responsive div.footer__responsive__carrito {
    background-color: #f112bd;
  }
  footer div.footer__responsive div.footer__responsive__carrito h5 {
    color: #fffeff;
    margin-bottom: 0px !important;
  }
  footer div.footer__responsive div.footer__responsive__carrito i.fa-solid.fa-cart-arrow-down {
    margin-right: 0px;
    color: white;
  }
  /*Fin Footer */
}
/*Fin MediasQuery */
.btn {
  background-color: #ee62bf;
  color: #fcfcfc;
  font-weight: 700;
}

.btn:hover {
  background-color: #f112bd;
  color: #fffeff;
  font-weight: 700;
  transition: all 0.4s ease-in-out;
}

main {
  min-height: calc(100vh - 200px);
  height: 100%;
}

/* scrollButton30 */
body a.to-top {
  position: fixed;
  right: 0px;
  width: 50px;
  height: 50px;
  font-size: 2rem;
  text-decoration: none;
  transition: all 0.4s;
}
body a.to-top.active {
  bottom: 32px;
  pointer-events: auto;
}
body a.to-top .icono__scrollButton {
  color: rgba(252, 13, 160, 0.2705882353) !important;
  cursor: pointer;
}

/*Fin scrollButton */
/* Nosotros */
main div.container-fluid div.img__nosotros__parallax {
  width: 100%;
  height: 400px !important;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
main div.container-fluid div.imagen1 {
  background-image: url("../img/ba.jpg");
}
main div.container-fluid div.imagen2 {
  background-image: url("../img/IMG_20220611_143944167_HDR.jpg");
}
main div.container-fluid section.nosotrosArticleChef div.page-header.my-3 h2 {
  font-size: 2.3rem !important;
}
main div.container-fluid section.reacciones {
  background-color: rgba(245, 52, 176, 0.24);
}
main div.container-fluid section.reacciones video {
  background-color: rgba(86, 40, 52, 0.18) !important;
  width: 75%;
  height: 300px;
}

/*Fin Nosotros */
/* Carrito */
main div.container-fluid section.carrito div.page-header.my-3 div.padreCarrito div.padreCarrito__inputs h6 {
  margin-bottom: 0px !important;
}
main div.container-fluid section.carrito div.page-header.my-3 div.padreCarrito div.padreCarrito__inputs div.carrito__inputs {
  background-color: rgba(245, 167, 193, 0.1803921569) !important;
  height: 35px !important;
}
main div.container-fluid section.carrito div.page-header.my-3 section.direccion div.carrito__inputs {
  background-color: rgba(245, 167, 193, 0.1803921569) !important;
  height: 35px !important;
}
main div.container-fluid section.carrito section.direccion div.direccion__padre {
  background-color: rgba(245, 167, 193, 0.1803921569);
}
main div.container-fluid section.carrito section.direccion div.direccion__padre h6 {
  margin-bottom: 0px !important;
}
main div.container-fluid section.formulario div.page-header.mx-2.carrito__lista {
  background-color: rgba(245, 167, 193, 0.1803921569);
  overflow-y: auto;
  overflow-x: auto;
}
main div.container-fluid section.formulario div.carrito__buttonLista.d-flex.justify-content-end {
  display: none !important;
}

/*Fin Carrito */
/* MediasQuery */
/*Cuando entra en modo Celular*/
@media screen and (max-width: 767px) {
  main div.container-fluid section.direccion div.carrito__buttonDireccion {
    display: none !important;
  }
  main div.container-fluid section.formulario.col-lg-4.col-md-5.my-lg-2.my-md-2.mb-sm-5.mb-5 div.carrito__buttonLista {
    display: flex !important;
  }
}
@media screen and (max-width: 630px) {
  main div.container-fluid section.carrito div.page-header.my-3 div.padreCarrito div.padreCarrito__inputs h6 {
    font-size: 0.8rem;
  }
}
/*Fin MediasQuery */
/* pagina informacion */
main section.Horarios div.padreHorarios {
  background-color: rgba(245, 167, 193, 0.1803921569);
}
main section.Horarios div.padreHorarios:hover {
  box-shadow: 5px 10px 20px 2px rgba(230, 36, 36, 0.273) !important;
}

/*Fin pagina informacion */
main div.container-fluid section.ubicacion div.page-header.my-3 h2 {
  font-size: 2.3rem;
}

@media screen and (max-width: 767px) {
  main div.container-fluid section.ubicacion div.page-header.my-3 h2 {
    font-size: 2rem;
    margin-bottom: 40px;
  }
}
/*Fin MediasQuery */
/* Carrusel */
main section.carrusel div.carousel.slide .slide {
  width: 100%;
  height: 450px;
  background-position: center;
  background-size: cover;
}
main section.carrusel div.carousel.slide .imgCarrusel1 {
  background-image: url("../img/pasteleria/cake-4910417_1280.png");
}
main section.carrusel div.carousel.slide .imgCarrusel2 {
  background-image: url("../img/pasteleria/raspberry-pie-1987673_1920.png");
}
main section.carrusel div.carousel.slide .imgCarrusel3 {
  background-image: url("../img/pasteleria/blueberries-3946230_1280.png");
}
main section.carrusel div.carousel.slide .imgCarrusel4 {
  background-image: url("../img/pasteleria/macarons.jpg");
}

/*Fin Carrusel */
/* Cards */
section.cards h2 {
  color: #f112bd;
  font-size: 1rem;
}

.card {
  width: 100%;
  height: 100%;
}

img.thumbnail__img {
  width: 100%;
  max-height: 260px;
  height: 100%;
  border-radius: 30px;
  transition: all 0.2s ease-in-out;
  object-fit: cover;
  background-position: center;
}

img.thumbnail__img:hover {
  transform: scale(1.2);
}

.thumbnail {
  border-radius: 30px;
  background-color: rgba(245, 15, 157, 0.1294117647);
  transform: scale(1);
  transition: all 0.2s ease-in-out;
  overflow: hidden;
}

.thumbnail:hover {
  box-shadow: 5px 10px 20px 2px rgba(230, 36, 36, 0.273) !important;
  transform: scale(1.1);
}

/*Fin Cards */

/*# sourceMappingURL=style.css.map */
