/* scrollButton30 */
body{
    a.to-top{
        position: fixed;
        right: 0px;
        width: 50px;
        height: 50px;
        font-size: 2rem;
        text-decoration: none;
        transition: all .4s;
        &.active{
            bottom: 32px;
            pointer-events: auto;
        }
        .icono__scrollButton{
            color: #fc0da045 !important;
            cursor: pointer;
        }
    }
}
/*Fin scrollButton */